.procedimentos {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #F9E4CA;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.procedimentos-content {
  max-width: 1400px;
  width: 100%;
  padding: 0 100px;
  text-align: center;
}

.procedimentos-content > h1 {
  font-size: 70px;
  color: #8C5838;
  margin-bottom: 30px;
}

.procedimentos-intro {
  font-size: 20px;
  color: #8C5838;
  margin-bottom: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

.procedimentos-subtitle {
  font-size: 32px;
  color: #8C5838;
  margin-bottom: 50px;
  font-weight: normal;
}

.procedimentos-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.procedimento-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.procedimento-image {
  width: 100%;
  height: 280px;
  border-radius: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.procedimento-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.procedimento-card > h3 {
  font-size: 22px;
  color: #8C5838;
  margin: 0;
  font-weight: normal;
}

@media screen and (max-width: 1400px){
  .procedimentos-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1100px){
  .procedimentos-content {
    padding: 0 50px;
  }

  .procedimentos-content > h1 {
    font-size: 60px;
  }

  .procedimentos-intro {
    font-size: 18px;
  }

  .procedimentos-subtitle {
    font-size: 28px;
  }

  .procedimentos-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .procedimento-image {
    height: 250px;
  }

  .procedimento-card > h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 715px){
  .procedimentos {
    padding: 60px 0;
  }

  .procedimentos-content {
    padding: 0 20px;
  }

  .procedimentos-content > h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .procedimentos-intro {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .procedimentos-subtitle {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .procedimentos-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
  }

  .procedimento-card {
    width: 100%;
  }

  .procedimento-image {
    height: 220px;
    width: 100%;
  }

  .procedimento-card > h3 {
    font-size: 18px;
    text-align: center;
  }
}
