.sobre {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;

  background-color: #F3BB90;
  justify-content: space-around;
  align-items: center;
}

.sobre-text {
  text-align: start;
  font-optical-sizing: auto;
  font-style: normal;
  gap: 10px;
  max-width: 550px;
}

.sobre-text > h1 {
  font-style: normal;
  color: #8C5838;
  font-size: 60px;
  padding: 0px 20px;
  margin-bottom: 25px;
  line-height: 1.2;
  font-weight: 500;
}

@media screen and (max-width: 1300px){
  .sobre-text {
    margin-left: 30px;
  }

  .sobre-text > h1 {
    font-style: normal;
    color: #8C5838;
    font-size: 55px;
  }
}

@media screen and (max-width: 715px){
  .sobre-text > h1 {
    font-size: 45px;
  }

  .sobre-text > p {
    font-size: 15px;
  }

  .avatar {
    width: 400px;
  }
}

.sobre-text > p {
  font-size: 17px;
  color: #424033;
  padding: 0px 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px;
}

.agende-btn {
  background: #8C5838;
  color: #F9E4CA;
  border: none;
  padding: 14px 35px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
}

.agende-btn:hover {
  background: #6d4429;
  color: #F3BB90;
  transform: scale(1.02);
}

.sobre-image {
  display: flex;
  align-items: start;
}

@media screen and (max-width: 1100px){
  .sobre-text {
    max-width: 700px;
    text-align: start;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .sobre-text > p {
    margin-top: 20px;
  }

  .sobre {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1100px){
  .sobre-text {
    max-height: 470px;
  }
}

.about {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;

  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
  mask-repeat: no-repeat;
  mask-size: cover;
}

.avatar {
  width: 550px;
}
