* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  background-color: #F9E4CA;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Nata Sans", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}
