.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/bannersite.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: start;
}

.banner-content {
  font-size: 60px;
  color: #8C5838;
  max-width: 650px;
  margin-left: 150px;
  margin-right: auto;
  letter-spacing: 2px;
  line-height: 1.2;
}

.divText {
  display: flex;
  justify-content: start;
  text-align: start;
}

.divText p {
  font-weight: 500;
  word-spacing: 8px;
}

.divButton {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.banner button {
  background: #8C5838;
  color: #F9E4CA;
}

.banner button:hover {
  background: #6d4429;
  color: #F3BB90;
}
@media screen and (max-width: 1280px){
  .banner {
    background-position: 80%;
  }

  .banner-content {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1100px){
  .banner {
    background-position: 70%;
  }
}

@media screen and (max-width: 880px){
  .banner {
    background-image: url('../../assets/bannersite-mobile.png');
    padding-top: 80px;
  }

  .banner-content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 38px;
  }

  .divText {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .divButton {
    display: flex;
    justify-content: center;
  }
}
